.our-advantages {
  @media screen and(min-width: 480px) and (max-width: 767px) {
    padding-bottom: 119px;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 120px;
  }
}
.section-info {
  margin-bottom: 44px;
  max-width: 500px;

  .section-description {
    @extend %section-description;
    color: $forth-text-color;
    display: flex;
    align-items: center;

    margin-bottom: 20px;

    &:before {
      content: '';
      display: block;
      width: 60px;
      height: 1px;
      background-color: $forth-text-color;
      margin-right: 20px;
    }
  }
  .section-title {
    @extend %section-title;
    color: $forth-text-color;
    margin-bottom: 20px;
  }
  .description-text {
    @extend %description-text;
    color: $main-text-color;
  }
}
.statistics {
  @media screen and(min-width:768px) and (max-width: 1279px) {
    margin-left: auto;
  }
}
.statistics-list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;

  @media screen and(min-width: 768px) {
    width: 450px;
    margin-left: auto;
  }

  .statistics-item {
    @extend %section-description;
    color: $forth-text-color;
    text-align: center;
    text-transform: none;

    width: 100%;
    height: 133px;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: $additional-bg-color;

    padding: 20px 35px;
    &:not(:last-child) {
      padding-right: 20px 32px;
    }

    @media screen and(min-width: 480px) {
      &:nth-of-type(1),
      &:nth-of-type(2) {
        margin-bottom: 30px;
      }
      &:nth-of-type(1),
      &:nth-of-type(3) {
        margin-right: 30px;
      }
    }
    @media screen and(min-width: 480px) {
      width: 193px;
    }

    &:nth-child(2n + 2) {
      @media screen and(min-width: 480px) {
        transform: translateY(35px);
      }
    }

    @media screen and(min-width: 768px) {
      width: 210px;
      padding: 20px 40px;
      &:not(:last-child) {
        padding-right: 20px 44px;
      }
    }
    @media screen and (min-width: 1280px) {
      width: 170px;
      padding: 20px 20px;
      &:not(:last-child) {
        padding-right: 20px 24px;
      }
    }

    .number {
      position: relative;

      display: block;
      font-size: 42px;
      line-height: 1.36;
      letter-spacing: 0.05em;
      font-weight: bold;
      margin-bottom: 6px;

      &:after {
        position: absolute;
        top: 10px;
        right: -10px;

        content: '';
        display: block;
        background: url('../../images/icon-plus.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 13px;
        height: 13px;
      }
    }
  }
}
