.hero {
  max-width: 1280px;

  background-image: linear-gradient($overlay-color, $overlay-color), url('./../images/Hero/Slider\ img\ 3-2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  height: 580px;
  padding: 0;

  @media screen and (min-width: 768px) {
    // position: relative;
    max-width: 768px;
    display: flex;
    background-image: linear-gradient($overlay-color, $overlay-color), url('./../images/Hero/Slider\ img\ 3-1.jpg');
    height: 680px;
    background-size: contain;
    background-position: right;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1280px;
    display: flex;
    background-image: linear-gradient($overlay-color, $overlay-color), url('./../images/Hero/Slider-img-3.jpg');
  }
}
