.page-footer {
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  background-color: $additional-bg-color;
  .copyright {
    @extend %centred-items;
    flex-shrink: 0;
    color: $secondary-text-color;
    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      background-image: url('../../../images/icon-copy.svg');
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 6px;
      // border-radius: 4px;
    }
  }
}
