.button {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;

  width: 160px;
  height: 40px;

  margin: 0;
  padding: 12px 18px;

  color: #ffffff;
  border: 1px solid #ff6c00;
  background-color: transparent;
  box-sizing: border-box;
  border-radius: 25px;
  cursor: pointer;
  .menu & {
    width: 194px;
    padding: 12px 35px;
  }
  &.light {
    color: #303030;
  }
  &.main {
    background-color: #ff6c00;
  }
}
