.no-scroll {
  overflow: hidden;
  width: 100%;
}
.container {
  padding: 0px 31px;
  margin: 0 auto;

  .hero & {
    width: 100%;
    @media screen and(min-width:  768px) {
      padding-left: 24px;
    }
    @media screen and(min-width:  1280px) {
      padding-left: 40px;
    }
  }
  .our-advantages & {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
    }
    @media screen and(min-width: 1280px) {
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-around;
      flex-direction: row-reverse;
    }
  }

  .page-header & {
    padding: 32px 0px;

    display: flex;
    justify-content: space-between;

    @media screen and(max-width: 767px) {
      align-items: center;
    }
  }

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    padding: 0px 39px;
    max-width: 768px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1200px;
    padding: 0px 15px;
  }
  .page-footer & {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 56px;
    padding-bottom: 56px;
    @media screen and (max-width: 480px) {
      padding-top: 44px;
      padding-bottom: 44px;
    }
  }
}
