.container {
  padding: 0px 31px;
  margin: 0 auto;
  .page-header & {
    height: 136px;
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    padding: 0px 39px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    padding: 0px 55px;
  }
}
