$main-text-color: #555555;
$secondary-text-color: #9da4bd;
$third-text-color: #ffffff;
$accent-color: #ff6c00;

$hero-section-description-color: rgba(157, 164, 189, 0.6);
$hero-description-text-color: #9da4bd;

$section-title-color: #303030;
$section-description-color: #555555;

$form-label-text-color: rgba(157, 164, 189, 0.4);
$overlay-color: rgba(25, 28, 38, 0.2);

$main-bg-color: #ffffff;
$additional-bg-color: #f7f7f7;

$prices-bg-color: #111319;
$prices-list-bg-color: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
$prices-list-additional-bg-color: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
$footer-bg-color: #191c26;
