.contact-us {
  @extend %list;
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  &-item {
    a {
      color: inherit;
    }
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 24px;
      }
      @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-top: 20px;
      }
      @media screen and (min-width: 1200px) {
        margin-right: 40px;
      }
    }
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column-reverse;

    text-align: center;
  }
  @media screen and (min-width: 1199px) {
    flex-direction: row;
    align-items: center;
  }
}
