.page-header {
  background-color: transparent;

  position: absolute;
  width: 100%;
  @media screen and (min-width: 768px) {
    top: -40px;
  }

  @media screen and (min-width: 1280px) {
    top: 0px;
  }
}
