.site-logo {
  .logo-icon {
    width: 69px;
    height: 55px;
    fill: $third-text-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.aside-site-logo {
  .logo-icon {
    width: 69px;
    height: 55px;
    fill: $forth-text-color;
  }
}
