.media-list {
  @extend %list;
  font-size: 14px;
  line-height: 1.36;
  letter-spacing: 0.2em;

  .page-header & {
    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    .media-item {
      a {
        color: inherit;
      }

      @media screen and (min-width: 768px) {
        &:not(:last-child) {
          margin-right: 40px;
        }
      }
      &:last-child {
        @media screen and (max-width: 768px) {
          margin-top: 24px;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
          margin-left: 100px;
        }
      }
    }
    @media screen and (min-width: 768px) {
      display: none;
    }

    &:before {
      content: '';
      display: block;
      background-color: $forth-text-color;
      width: 60px;
      height: 1px;
      margin-right: 40px;
      @media screen and (max-width: 479px) {
        display: none;
      }
    }
  }
}

.page-header {
  .media-item:hover,
  .media-item:focus {
    color: $accent-color;
  }
}
.page-footer {
  .media-list {
    font-size: 11px;
    a {
      color: $forth-text-color;
    }

    display: flex;
    align-items: center;

    @media screen and(max-width: 479px) {
      flex-wrap: wrap;
      margin-left: 20px;
    }

    .media-item:not(:last-child) {
      margin-right: 40px;
    }
    &:before {
      @media screen and(min-width: 480px) {
        content: '';
        display: block;
        background-color: $forth-text-color;
        width: 60px;
        height: 1px;
        margin-right: 40px;
      }
    }
    @media screen and (min-width: 480px) and (max-width: 480px) {
      margin-bottom: 79px;
    }
  }
}
