.navigation {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
  @media screen and (min-width: 768px) {
    margin-right: 47px;
  }
  &-list {
    @extend %list;
    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
    &-item {
      a {
        color: inherit;
      }
      &:not(:last-child) {
        @media screen and (max-width: 767px) {
          margin-bottom: 24px;
        }
        @media screen and (min-width: 768px) {
          margin-right: 24px;
        }
        @media screen and (min-width: 1280px) {
          margin-right: 40px;
        }
      }
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
